/* ========= RESET ========= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "AGENTORANGE";
  src: url("AGENTORANGE.ttf") format("truetype");
}

/* ======== VARIABLES =========*/
:root {
  font-size: 30%;
  /* fonts type */
  --poppins-font: "Poppins", sans-serif;
  --agentorange-font: "AGENTORANGE", sans-serif;

  /* fonts size */
  --large-font-size: 10rem;
  --mid-font-size: 8rem;
  --small-font-size: 5rem;
  --button-font-size: 4rem;

  /* colors */
  --bg-color: rgb(255, 255, 255);
  --contrast-color: rgb(0, 0, 0);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "h1 h1"
    "computer player"
    "buttonSpace buttonSpace";
  align-items: center;
  justify-items: center;
  font-family: var(--poppins-font);
  position: relative;
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.h1 {
  grid-area: h1;
  font-family: var(--agentorange-font);
  font-size: 50px;
}

.computer {
  grid-area: computer;
}

.player {
  grid-area: player;
}

.player,
.computer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-family: var(--agentorange-font);
  }
}

.buttonSpace {
  grid-area: buttonSpace;
}

.papel,
.tesoura {
  width: 350px;
  display: none;
}

.pedra {
  width: 300px;
  display: block;
}

.pedra,
.papel,
.tesoura {
  transform: rotateY(180deg);
}
.show-attack {
  display: block;
}

.animation-hands {
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.alternate-reverse {
  animation-direction: alternate-reverse;
}

@keyframes slide {
  0% {
    transform: rotateY(180deg) rotateZ(25deg);
  }
  50% {
    transform: rotateY(180deg) rotateZ(-25deg);
  }
  100% {
    transform: rotateY(180deg) rotateZ(25deg);
  }
}

.close {
  border: none;
  right: -135px;
  color: #ffffff;
  position: relative;
  background: transparent;
  font-size: var(--button-font-size);
}

.close:hover {
  cursor: pointer;
}

.escolha {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.438);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.show-escolha {
  display: flex;
  transform: scale(1);
  width: 100%;
}

.contentChose {
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  transition-duration: 2s;
  transition-delay: 1s;
}

h2 {
  font-size: var(--mid-font-size);
}

.contentChose button {
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

button img {
  width: 42px;
  height: auto;
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button button {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 20px 40px;
  cursor: pointer;

  text-shadow: 0px 1px 0px #000;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  border-radius: 5px;
}

.button button:hover {
  background-color: #eb952b;
}

.button button:active {
  top: 10px;
  background-color: #f78900;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}

/* Msg de vitória */
.winning-message {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
}

.winning-message-button {
  font-size: var(--small-font-size);
  background-color: var(--contrast-color);
  font-family: var(--poppins-font);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
}

.winning-message-button:hover {
  background-color: white;
  color: var(--contrast-color);
}

.winning-message-text {
  color: white;
  font-size: var(--large-font-size);
  font-family: var(--poppins-font);
}

.show-winning-message {
  display: flex;
}
